{% set server = salt['grains.filter_by']({
  'default': {
    'target': {
      'static': {
      },
    },
  },
}, merge=salt['pillar.get']('prometheus:server')) %}

{% set alertmanager = salt['grains.filter_by']({
  'default': {
  },
}, merge=salt['pillar.get']('prometheus:alertmanager')) %}

{% set exporters = salt['grains.filter_by']({
  'default': {
  },
}, merge=salt['pillar.get']('prometheus:exporters')) %}
{%- do salt['defaults.merge'](exporters, grains.get('prometheus', {}).get('exporters', {}))  %}

{%- set monitoring = salt['grains.filter_by']({
  'default': {
    'remote_storage_adapter': {
      'sent_vs_received_ratio': 10.0,
      'ignored_vs_sent_ratio': 5.0,
    },
  },
}, grain='os_family', merge=salt['pillar.get']('prometheus:monitoring')) %}

{% set remote_storage_adapter = salt['grains.filter_by']({
  'default': {
  },
}, merge=salt['pillar.get']('prometheus:remote_storage_adapter')) %}
