{% set server = salt['grains.filter_by']({
  'default': {
    'version': 2.0,
    'pkgs': ['prometheus-bin'],
    'target': {
      'static': {
      },
    },
  },
}, merge=salt['pillar.get']('prometheus:server')) %}

{% set relay = salt['grains.filter_by']({
  'default': {
    'pkgs': ['prometheus-relay']
  },
}, merge=salt['pillar.get']('prometheus:relay')) %}

{% set alertmanager = salt['grains.filter_by']({
  'default': {
  },
}, merge=salt['pillar.get']('prometheus:alertmanager')) %}

{% set exporters = salt['grains.filter_by']({
  'default': {
  },
}, merge=salt['pillar.get']('prometheus:exporters')) %}
{%- do salt['defaults.merge'](exporters, grains.get('prometheus', {}).get('exporters', {}))  %}

{%- set monitoring = salt['grains.filter_by']({
  'default': {
    'remote_storage_adapter': {
      'sent_vs_received_ratio': 10.0,
      'ignored_vs_sent_ratio': 5.0,
    },
    'alertmanager': {
      'notification_failed_rate': 0.3
    },
    'prometheus': {
      'remote_storage_queue_full_percent': 75.0,
    },
  },
}, grain='os_family', merge=salt['pillar.get']('prometheus:monitoring')) %}

{% set remote_storage_adapter = salt['grains.filter_by']({
  'default': {
  },
}, merge=salt['pillar.get']('prometheus:remote_storage_adapter')) %}
