{% from "prometheus/map.jinja" import server with context %}
dashboard:
  prometheus-performances_prometheus:
    datasource: prometheus
    format: json
    template: prometheus/files/grafana_dashboards/server/{{server.version}}/prometheus_performances_prometheus.json
  remote_storage_adapter_prometheus:
    datasource: prometheus
    format: json
    template: prometheus/files/grafana_dashboards/remote_storage_adapter_prometheus.json
  prometheus_stats_prometheus:
    datasource: prometheus
    format: json
    template: prometheus/files/grafana_dashboards/server/{{server.version}}/prometheus_stats_prometheus.json
  alertmanager_prometheus:
    datasource: prometheus
    format: json
    template: prometheus/files/grafana_dashboards/alertmanager_prometheus.json
  pushgateway_prometheus:
    datasource: prometheus
    format: json
    template: prometheus/files/grafana_dashboards/pushgateway_prometheus.json
